.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-item{
  width: 50%;
}
button{
  width:100%;
  background-color: white;
}

@media only screen and (max-width: 480px) {
  .flex-container{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .flex-item{
    width: 100%;
  }
} 

img {
  margin: auto;
  width: 70%;
  display: block;
  max-width: 500px;
}
.center {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}